<div class="container">
    <h2 class="title is-2">Formularios Reactivos en Angular</h2>
    <div class="tabs">
        <ul>
          <li class="is-active"><a routerLink="form-reactivos-e-inputs">Form Reactivos e Inputs</a></li>
          <li><a routerLink="reactivos-agrupacion-inputs">Form Reactivos y agrupación de Inputs</a></li>
          <li><a routerLink="form-reactivos-y-CSS-bulma">Form Reactivos y CSS Bulma</a></li>
          <li><a routerLink="validaciones-angular">Validaciones Angular</a></li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>